# Stuff that somehow appears on Mac
.DS_Store

# Compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Environment
.env*
.venv

# Translations
*.mo
*.pot
