# Taken from python/cpython/.gitattributes (sorry Q.Q)

# Windows files
*.bat	    dos

# Language-aware diff headers
*.css       diff=css
*.html      diff=html
*.py        python diff=python
*.py.txt    diff=python
*.md        diff=markdown
